*{
    padding: 0%;
    margin: 0%;


}

/* body{
    font-style:oblique;
    font-family: sans-serif;
    font-weight:bolder;
    color: #000000;
    
} */

/* #navbar{
    display: flex;
    height: 100px;
    border: 2px solid red;
    margin-bottom: 20px;
} */
#mid-body div{
    display: flex;
    width: 90%;
    text-align: center;
    padding: 9px;
    margin: auto;
}

#mid-body div h1{
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
}
#wrapper{
    text-decoration: none;
    font-style: italic;
    font-weight: lighter;
    color: #1a1a1d;
}

#wrapper:hover{
    color: rgb(237, 31, 154);
    

}

#procard{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 25pX;
    padding-top: 30px;
    text-align: center;
    margin: auto;
}
#procard>div{
    height: auto;
    border: 1px solid rgb(229, 233, 247);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#procard>div:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.proitem a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   
}
 .proitem img{
    width: 70%;
 }


 #sort_btn{
    width: 80%;
    height: auto;
    text-align: right;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: auto;
 }
 #btn{
    border: none;
 }

 #pro{
    outline: none;
    border: 1px solid #999;
    font-size: 18px;
    color: #060606;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    padding: 10px;
 }

 /* #main{
    height: 5000px;
 } */
 #pro_item_div{
    width: 95%;
    height: auto;
    display: flex;
    gap: 20px;
    /* justify-items: center; */
    margin: auto;
    
 }
.sidebar1{
    width: 30%;
    height: 450px;
    padding: 10px;
    position: sticky;
    top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sidebar2{
    width: 90%;
    height: auto;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: auto;
    
}
.product_items{
    width: 100%;
    height: auto;
    text-align: center;
    justify-items:center;
    border: 1px solid #dedede;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
}

.product_items:hover {
    border-color: rgba(161, 97, 244, 0.489);

}

#filter-heading{
    color: rgb(83, 20, 52);
    /* font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; */
    margin: 20PX;
}


.pro_img_item>img{
    width: 100%;
    /* height: auto; */
    border-radius: 8px 8px 0 0 ;
}

 .btn1{
    width: 95%;
    height: 40px;
    background: transparent;
    border: none;
    color: #2f3337;
    align-items: center;
    cursor: pointer;
    display: flex;
    /* font-size: 25px;
    font-weight: 700; */
    justify-content: space-between;
    outline-offset: 0;
    padding: 12px 0;
    text-align: left;

    
 }
.btn1 select{
    width: 100%;
    height: auto;
    border: none;
    outline: 1px solid #ccc;
    outline-offset: -1px;
    font-style:oblique;
    font-family: sans-serif;
    font-weight:bolder;
    color: #000000;
    margin: 20px;
    gap: 10pX;
    padding: 7px;
}

.button_div_container{
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    /* padding-bottom: 50px; */
    margin: auto;
}

.button_div_container>div{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    margin: auto;
}


.add_to_cart_btn{
    width: 120%;
    /* height: 40px; */
    color: rgb(30, 107, 231);
    border-radius: 10px;
    padding: 18px 8px;
    font-size: 15px;
    background-color: #ececf6;
    

}
.pro_img_item h2{
    font-size: 20px;
    margin-top: 10px;
    color: #ff1d58;
    justify-content: left;
    
}
.pro_img_item h3{
    margin-top: 10px;
    color: #2d545e;
    justify-content: left;
    font-size: 20px;
    
}

.detail_pro_info {
    width: 120%;
    /* height: 40px; */
    color: rgb(247, 254, 254);
    border-radius: 10px;
    padding: 18px 12px;
    font-size: 15px;
    background-color: #1a1a1d;
}


#pagination{
    width: 50%;
    height: 50px;
    border: 2px solid black;
    justify-content: center;
    margin: 30px;
    margin: auto;
}

#footer{
   margin-top: -350px;
}


@media screen and (min-width:200px) and (max-width:599px){
    .sidebar2{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    #procard{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .sidebar1{
        display: none;
    }
    #footer{
        margin-top: 50px;
    }
}
    
