#main{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
}

#register-div, #login-div{
    width: 40%;
    padding: 10px;
}

#register-form, #login-form{
    display: flex;
    flex-direction: column;
}

#register-form>h2, #login-form>h2{
    margin: 5vh 0vh;
}



#register-form>input, #login-form>input{
    margin: 5px 0px;
    padding: 13px;
    border: 0.5px solid black;
    border-radius: 5px;
}
